.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*font-family: 'Boogaloo', cursive;*/
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body {
  /*font-size: large;*/
  /*display: flex;*/

}

/*change this to make it spin faster on hover*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(1000deg); }
}

.profile-pic{
  margin: 1em;
  width: 12em;
  height: 14em;
  border: 1px solid black;
  border-radius: 5px;


}
