.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 10px;
  color: white;
}

h1{
  font-family: 'Margarine', cursive;
  font-size: 500%;
  margin-top: 0;
  margin-bottom: 0;
}

/*change this to make it spin faster on hover*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(1000deg); }
}

#tagline{
  font-family: 'Caveat Brush', cursive;
  font-size: 240%;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-box{
  display: table;
  padding: 3em;
  text-align: left;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 2em;
  background: rgb(181, 250, 221);
  font-size: 190%;
  min-width: 40em;
}

.profile-pic{
  margin: 1em;
  width: 16em;
  height: 14em;
  border: 1px solid grey;
  border-radius: 7px;
}

.pics-container{
  padding: 2em;
  display: flex;
  height: 17em;
  width: 90%;
  overflow-x: scroll;
  border: 1px solid grey;
  border-radius: 12px;
  margin: 3em;
}

.profile-pic-big{
  width: 18em;
  height: 18em;
  float: right;
  margin: 1em;
}

.button{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8em;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 4px 0px 25px 5px rgba(0, 0, 0, 0.2);
}
